<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.booaplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tamaddon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tamaddon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContentActivity2"></activity>
        <activity android:name=".LoginActivity2" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>